

.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name 伊関友崇
        %ul.side-header__box__menu
          %li.side-header__box__menu__edit-user
            %a{href:"https://www.youtube.com/?gl=JP&hl=ja"}
              %i.fa.fa-edit
          %li.side-header__box__menu__new-group
            %a{href:"https://www.youtube.com/?gl=JP&hl=ja"}
              %i.fa.fa-cog
    .groups
      = render partial: "group"
      = render partial: "group"
