
.form{
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
  box-sizing: border-box;
  .new-message{
    display: flex;
    .input-box{
      width: 100%;
      position: relative;
      &__text{
        display: inline-block;
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
        // background-color: white;
        box-sizing: border-box;
      }
      &__upload-label{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 1.3rem;
        cursor: pointer;
        .image_submit{
          display: none;
        }
      }
     }
    .submit-btn{
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
      box-sizing: border-box;
      line-height: 50px;
    }
  }
}
